/* 
Imported fonts
font-family: 'Trade Winds', ;
font-family: 'Cinzel', ;
*/

body{
    padding: 100px;
    font-family: 'Trade Winds';
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#myBank_Area{
    
}
.submit_area{
    width: 80%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 85px 139px;
    border-radius: 7px;
    box-shadow: 1px 1px 12px 4px #d7d5d5;
}
#main_transaction{
    display: none;
}
.transaction{
    padding: 0 116px;
    margin-top: 30px;
}
.deposit, .withdraw, .balance{
    padding: 20px;
    border-radius: 7px;
    color: white;
}
.deposit{
    background: green;
}
.withdraw{
    background: blue;
}
.balance{
    background: blueviolet;
}

/* Input Area */
.input_area{
    padding: 29px 117px;
}
.input_details_main{
    padding: 48px 43px;
    margin-top: 49px;
    border-radius: 7px;
    box-shadow: 1px 1px 12px 4px #d7d5d5;
}
::placeholder {
    font-family: 'Cinzel';
    font-style: italic;
    text-transform: lowercase;
  }